<div class="content">
  <nb-card class="list-card">
    <nb-card-header>
      <div class="row mb-3">
        <div class="col-md-6 pull-left">
          <h4> Client List</h4>
        </div>
        <div class="col-md-6 pull-right">
          <button [disabled]="selected.length === 0" (click)="fireSwal()" class="btn btn-outline-primary pull-right"
            style="float: right;">Delete</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="clientSearchForm" (ngSubmit)="clientSearch()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" name="email" class="form-control" placeholder="Client Email"
                    formControlName="email">
                  <ngx-control-messages fieldName="Client Email" [control]="clientSearchForm.controls['email']">
                  </ngx-control-messages>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" name="mobile" class="form-control" placeholder="Client Mobile"
                    formControlName="mobile_number">
                  <ngx-control-messages fieldName="Client Mobile"
                    [control]="clientSearchForm.controls['mobile_number']">
                  </ngx-control-messages>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <nb-checkbox formControlName="is_refferal_fee_due">Referral Fee Due</nb-checkbox>
                  <ngx-control-messages fieldName="Referral Fee Due"
                    [control]="clientSearchForm.controls['is_refferal_fee_due']">
                  </ngx-control-messages>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary mr-2">Filter</button>
                <button type="button" class="btn btn-outline-primary" (click)="clearFilter()">Clear</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">

          <table *ngIf="clientList.length == 0">
            <thead>
              <th>No Data Found</th>
            </thead>
          </table>
          <ngx-datatable class="bootstrap" *ngIf="clientList.length > 0" [externalPaging]="true" [rows]="clientList"
            [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [count]="totalElements"
            [offset]="pageNumber" [limit]="size" (page)="setPage($event)" [rowClass]="getRowClass" [scrollbarH]="true"
            [selected]="selected" [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false"
            [displayCheck]="displayCheck" (select)="onSelect($event)" (sort)="onSort($event)">
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true"> </ngx-datatable-column>
            <ngx-datatable-column name="Name" [sortable]=false [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a href="javascriopt:void(0);"
                  routerLink="/pages/client/client-view-details/{{row.user_id}}/account-user-personal-info"
                  title="View Details">
                  {{ row.first_name }} {{ row.last_name }}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" [sortable]=false [width]="250">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.user.email }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Mobile" [sortable]=false [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.user.mobile_number }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [sortable]=false [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.user?.status === "1" ? "Active":"Inactive" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Joined" prop="created_at" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.created_at | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Referral Due" prop="due_amount" [width]="120">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.user?.due_amount !== null ?row?.user?.due_amount:0 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Service Used" prop="bookings_count" [width]="110">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.__meta__?.bookings_count  }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Service Fee" prop="total_service_fee" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.user?.total_service_fee !== null ? row?.user?.total_service_fee : 0  }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [sortable]=false [width]="60">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a href="javascriopt:void(0);"
                  routerLink="/pages/client/client-view-details/{{row.user_id}}/account-user-personal-info"
                  title="View Details" class="btn-icons"><i class="far fa-eye"></i></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>