<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="javascript:void(0)" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="javascript:void(0)" (click)="navigateHome()">Pure Care<span> Admin</span></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.name">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>