<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <!-- <nb-card-header>Personal Info (Account User)</nb-card-header> -->
      <nb-card-body>
        <div class="row mb-3">
          <div class="col-md-6">
            Salute: {{salute[data?.salute - 1]}}
          </div>
          <div class="col-md-6">
            First Name: {{data?.first_name}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Last Name: {{data?.last_name}}
          </div>
          <div class="col-md-6">
            Email: {{data?.email}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Home Telephone Number: {{data?.home_telephone_number }}
          </div>
          <div class="col-md-6">
            Mobile & WhatsApp: {{data?.mobile_number}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Relationship with Service user: {{serviceUser[data?.relation_with_service_user - 1]}}
          </div>
          <div class="col-md-6">
            Preffered Language of Communication: {{communicationLang[data?.preferred_communication_language - 1]}}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>