<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>New Caregiver</nb-card-header>
            <nb-card-body>
                <form [formGroup]="caregiverRegisterForm" (ngSubmit)="caregiverRegister()">
                    <div class="form-group" [ngClass]="{
                        'error-msg': (caregiverRegisterForm.controls.email.dirty || caregiverRegisterForm.controls.email.touched) && caregiverRegisterForm.controls.email.errors
                      }">
                        <label for="email" class="label">Email address</label>
                        <input type="email" class="form-control" formControlName="email" autocomplete="off" nbInput
                            fullWidth id="email" placeholder="abc@gmail.com">
                        <ngx-control-messages fieldName="Email ID" [control]="caregiverRegisterForm.controls['email']">
                        </ngx-control-messages>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'error-msg':
                          (caregiverRegisterForm.controls.password.dirty || caregiverRegisterForm.controls.password.touched) && caregiverRegisterForm.controls.password.errors
                      }">
                        <label for="password" class="label">Password</label>
                        <input type="password" nbInput fullWidth class="form-control" placeholder="******" id="password"
                            formControlName="password" autocomplete="off">
                        <ngx-control-messages fieldName="Password"
                            [control]="caregiverRegisterForm.controls['password']">
                        </ngx-control-messages>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'error-msg':
                          (caregiverRegisterForm.controls.cnfmpassword.dirty || caregiverRegisterForm.controls.cnfmpassword.touched) && caregiverRegisterForm.controls.cnfmpassword.errors
                      }">
                        <label for="cnfmpassword" class="label">Confirm Password</label>
                        <input type="password" nbInput fullWidth class="form-control" placeholder="******"
                            id="cnfmpassword" formControlName="cnfmpassword" autocomplete="off">
                        <ngx-control-messages fieldName="Confirm Password"
                            [control]="caregiverRegisterForm.controls['cnfmpassword']">
                        </ngx-control-messages>
                    </div>
                    <button type="submit" nbButton status="danger">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>