<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <!-- <nb-card-header>Personal Info (Care Receiver)</nb-card-header> -->
      <nb-card-body>
        <div class="row mb-3">
          <div class="col-md-6">
            Salute: {{salute[data?.salute - 1]}}
          </div>
          <div class="col-md-6">
            First Name: {{data?.first_name}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Last Name: {{data?.last_name}}
          </div>
          <div class="col-md-6">
            Date of Birth: {{data?.dob | date}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Home Telephone Number: {{data?.home_telephone}}
          </div>
          <div class="col-md-6">
            Mobile Number: {{data?.mobile}}
          </div>
        </div>
        <div class="row mb-2">
          <nb-card-header>Address Details</nb-card-header>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Flat Number: {{data?.flat}}
          </div>
          <div class="col-md-6">
            Floor Number: {{data?.floor}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Building: {{data?.building}}
          </div>
          <div class="col-md-6">
            Street: {{data?.street}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            District: {{data?.district}}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>