<nb-card>
    <nb-card-body>
        <form [formGroup]="CaregiverChargesForm" (ngSubmit)="addUpdateCharges()">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-form-block">
                        <div class="single-block table-block charges-table">
                            <label>Charges</label>
                            <div class="table-responsive">
                                <table class="table" cellspacing="10">
                                    <thead>
                                        <tr>
                                            <th class="row" scope="row">Hours</th>
                                            <td sco pe="col">1</td>
                                            <td scope="col">2</td>
                                            <td scope="col">3</td>
                                            <td scope="col">4</td>
                                            <td scope="col">5</td>
                                            <td scope="col">6</td>
                                            <td scope="col">7</td>
                                            <td scope="col">8</td>
                                            <td scope="col">9</td>
                                            <td scope="col">10</td>
                                            <td scope="col">11</td>
                                            <td scope="col">12</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="row" scope="row">Hourly Rate</th>
                                            <td *ngFor="let hourlyRate of CaregiverChargesForm.get('hourly_rate')['controls'];let i = index"
                                                [attr.colspan]="i == 6 ? '6' : '1'" [formGroup]="hourlyRate">
                                                <input type="number" (keypress)="numberOnly($event)"
                                                    id="hourlyRate_{{ i }}" [formControl]="hourlyRate.get('price')"
                                                    (keyup)="changeMode($event, i)" autocomplete="off" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="row" scope="row">Total Rate</th>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][0].value.price * 1 }}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][0].value * 1}}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][1].value.price * 2 }}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][1].value * 2 }}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][2].value.price * 3 }}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][2].value * 3}}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][3].value.price * 4}}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][3].value * 4}}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][4].value.price * 5}}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][4].value * 5}}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][5].value.price * 6}}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][5].value * 6}}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value.price * 7 }}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value * 7 }}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value.price * 8}}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value * 8}}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value.price * 9}}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value * 9}}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value.price * 10 }}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value * 10 }}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value.price * 11}}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value * 11 }}</span>
                                            </td>
                                            <td>
                                                <span
                                                    *ngIf="editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value.price * 12}}</span>
                                                <span
                                                    *ngIf="!editMode">{{ CaregiverChargesForm.get('hourly_rate')['controls'][6].value * 12}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Method of Receiving Payment</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="check-label">
                        <input type="checkbox" id="transfer" (change)="eventCheck('transfer')"
                            formControlName="payment_method_online" />
                        <label for="transfer">Online transfer - Preferred. Pay within 24 hours*</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>FPS - Mobile Number</label>
                    <input [readonly]="!CaregiverChargesForm.get('payment_method_online').value" type="text"
                        class="form-control" placeholder="Watch out for types" formControlName="fps_mobile_number"
                        maxlength="8" autocomplete="off" />
                    <ngx-control-messages fieldName="FPS - Mobile Number"
                        [control]="CaregiverChargesForm.controls['fps_mobile_number']">
                    </ngx-control-messages>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Bank Name</label>
                    <input [readonly]="!CaregiverChargesForm.get('payment_method_online').value" type="text"
                        class="form-control" placeholder="Watch out for types" formControlName="bank_name"
                        maxlength="50" autocomplete="off" />
                    <ngx-control-messages fieldName="Bank Name" [control]="CaregiverChargesForm.controls['bank_name']">
                    </ngx-control-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Bank Code</label>
                    <input [readonly]="!CaregiverChargesForm.get('payment_method_online').value" type="text"
                        class="form-control" placeholder="Watch out for types" formControlName="bank_code" maxlength="8"
                        autocomplete="off" />
                    <ngx-control-messages fieldName="Bank Code" [control]="CaregiverChargesForm.controls['bank_code']">
                    </ngx-control-messages>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Branch Code</label>
                    <input [readonly]="!CaregiverChargesForm.get('payment_method_online').value" type="text"
                        class="form-control" placeholder="Watch out for types" formControlName="branch_code"
                        maxlength="50" autocomplete="off" />
                    <ngx-control-messages fieldName="Branch Code"
                        [control]="CaregiverChargesForm.controls['branch_code']">
                    </ngx-control-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Account Number</label>
                    <input [readonly]="!CaregiverChargesForm.get('payment_method_online').value" type="text"
                        class="form-control" placeholder="Watch out for types" formControlName="account_no"
                        maxlength="8" autocomplete="off" />
                    <ngx-control-messages fieldName="Account Number"
                        [control]="CaregiverChargesForm.controls['account_no']">
                    </ngx-control-messages>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Account Name</label>
                    <input [readonly]="!CaregiverChargesForm.get('payment_method_online').value" type="text"
                        class="form-control" placeholder="Watch out for types" formControlName="account_name"
                        maxlength="50" autocomplete="off" />
                    <ngx-control-messages fieldName="Account Name"
                        [control]="CaregiverChargesForm.controls['account_name']">
                    </ngx-control-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="check-label">
                        <input type="checkbox" id="cheque" (change)="eventCheck('cheque')"
                            formControlName="payment_method_cheque" />
                        <label for="transfer">Cheque - Not preferred. Pay within 3 working days*. Postage cost will be
                            charged.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>* Assuming no disputes.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" nbButton>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>