<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Change Password</nb-card-header>
            <nb-card-body>
                <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
                    <div class="form-group" [ngClass]="{
                        'error-msg':
                          (changePasswordForm.controls.old_password.dirty || changePasswordForm.controls.old_password.touched) && changePasswordForm.controls.old_password.errors
                      }">
                        <label for="old_password" class="label">Old Password</label>
                        <input type="password" nbInput fullWidth class="form-control" placeholder="******"
                            id="old_password" formControlName="old_password" autocomplete="off">
                        <ngx-control-messages fieldName="Old Password"
                            [control]="changePasswordForm.controls['old_password']">
                        </ngx-control-messages>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'error-msg':
                          (changePasswordForm.controls.password.dirty || changePasswordForm.controls.password.touched) && changePasswordForm.controls.password.errors
                      }">
                        <label for="password" class="label">Password</label>
                        <input type="password" nbInput fullWidth class="form-control" placeholder="******" id="password"
                            formControlName="password" autocomplete="off">
                        <ngx-control-messages fieldName="Password" [control]="changePasswordForm.controls['password']">
                        </ngx-control-messages>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'error-msg':
                          (changePasswordForm.controls.cnfmpassword.dirty || changePasswordForm.controls.cnfmpassword.touched) && changePasswordForm.controls.cnfmpassword.errors
                      }">
                        <label for="cnfmpassword" class="label">Confirm Password</label>
                        <input type="password" nbInput fullWidth class="form-control" placeholder="******"
                            id="cnfmpassword" formControlName="cnfmpassword" autocomplete="off">
                        <ngx-control-messages fieldName="Confirm Password"
                            [control]="changePasswordForm.controls['cnfmpassword']">
                        </ngx-control-messages>
                    </div>
                    <button type="submit" nbButton status="danger">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>